{% extends "emails/base_email.html" %}
{% block subject %}Reset your AdVers password{% endblock %}
{% block body %}
<p class="greeting">Hey {{ first_name }},</p>
<p class="text">
    You requested a password reset for your AdVers account. Click the button
    below to choose a new password.
</p>

<div class="btn-wrap">
    <a href="{{ reset_url }}" class="btn">Reset Password</a>
</div>

<hr class="divider">
<p class="note">
    This link expires in 24 hours. If you didn't request this, you can safely ignore this email.
</p>
{% endblock %}